html, body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(228deg, rgba(0, 178, 110, 1) 0%, rgba(0, 129, 80, 1) 56%, rgba(0, 76, 47, 1) 100%);
    color: white;
    overflow-x: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1355px;
    margin: 0 auto;
}

.header {
    position: relative;
    z-index: 2;
    background: #2A2A2A;
    height: 60px;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 175px;
}

.logout {
    width: 32px;
}

.intro {
    height: calc(100vh - 210px);
    text-align: center;
    padding-top: 150px;
    overflow: hidden;
}

.intro-content {
    position: relative;
    z-index: 2;
}

.greeting {
    font-size: 25px;
    margin-bottom: 12px;
}

.balance {
    font-size: 45px;
    margin: 0;
}

.balance-text {
    margin: 0 0 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.btn {
    width: 290px;
    height: 60px;
    border: 0;
    border-radius: 25px;
    background: #2A2A2A;
    color: white;
    font-size: 24px;
    font-weight: 700;
    filter: drop-shadow(0px 0px 16px #000000);
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.btn:hover {
    background: #00754a;
    transition: background 0.2s, color 0.2s;
}

.tickers {
    display: flex;
    flex-direction: column;
    gap: 100px;
    rotate: 35deg;
    position: relative;
    z-index: 0;
    bottom: 896px;
    right: 80px;
}

.ticker {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    color: #FAFAFA;
    opacity: 0.05;
    min-width: 115%;
}

.ticker-inner {
    display: inline-block;
    animation: ticker-animation 25s linear infinite;
}

@keyframes ticker-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.history-title {
    text-align: center;
    margin-top: 58px;
}

.history-content {
    display: flex;
    gap: 140px;
    justify-content: center;
    margin-top: 28px;
}

.table-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-title {
    font-size: 32px;
    font-weight: 700;
}

.table {
    width: 370px;
    height: 436px;
    background: #2A2A2A;
    border-radius: 35px;
    filter: drop-shadow(0px 0px 16px #000000);
    padding: 32px 28px;
}

.date {
    font-size: 18px;
    margin: 0 0 10px;
}

.record {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caticon {
    height: 47px;
    width: 47px;
}

.income {
    font-size: 22px;
}

.category {
    margin-left: -6px;
}

.amount {
    color: #00DE31;
}

.expense-amount {
    color: #FF0000;
}

.show-more-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.show-more-btn a {
    width: 17px;
	height: 17px;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
    bottom: 6%;
	transform: rotate(135deg);

    &::before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: 4px 4px 0 0;
		border-style: solid;
		border-color: #fafafa;
		display: block;
        transition: 0.2s;
	}

	&:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 4px 0 0;
		border-style: solid;
		border-color: #fafafa;
        transition: 0.2s;
	}

    &:hover::after, &:hover::before {
        border-color: #a4a4a4;
        transition: 0.2s;
	}
}

.table-wrap {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.extended-table {
    width: 425px;
    height: fit-content;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    z-index: 9;
    background-color: #2A2A2A;;
    margin: 10% auto;
    padding: 20px;
    border-radius: 35px;
    width: 495px;
    height: 395px;
    animation: modal-fall 0.5s ease forwards;
}

@keyframes modal-fall {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.form-title {
    margin-top: 44px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 36px;
    font-weight: bold;
    transition: background 0.2s, color 0.2s;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.input-label {
    margin-left: 16px;
}

.inc-exp-amount, .inc-exp-category {
    width: 440px;
    height: 55px;
    border-radius: 25px;
    border: solid 1px #FFFFFF;
    background: none;
    font-size: 16px;
    padding-left: 20px;
    color: white;
    cursor: pointer;
}

.inc-exp-amount:focus, .inc-exp-category:focus {
    outline: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    display: none;
}

.select-selected {
    width: 462px;
    height: 57px;
    border-radius: 25px;
    border: solid 1px #FFFFFF;
    background: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 27px;
    right: 18px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 20px;
}

.select-items div {
    color: #ffffff;
    padding: 12px 0;
    cursor: pointer;
}

.select-items div:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
}

.select-items {
    position: absolute;
    background-color: #2A2A2A;
    border-radius: 25px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 200px;
    overflow-y: auto;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.form-btn {
    width: 461px;
    height: 59px;
    font-size: 16px;
    background-color: #00754a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    transition: background 0.2s, color 0.2s;
}

.form-btn:hover {
    background-color: #005939;
    transition: background 0.2s, color 0.2s;
}

.form-btn:disabled {
    background-color: #ccc;
    color: #777;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

.visible {
    color: #ccc;
    display: block;
    position: relative;
    right: 20px;
    bottom: 5px;
}

.mt-5 {
    height: calc(100vh - 60px);
    overflow: hidden;
    max-width: 1960px;
}

.needs-validation {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 510px;
    height: 580px;
    border-radius: 25px;
    background: #2A2A2A;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
}

.login-wrap {
    height: 410px;
}

.btn-link {
    width: auto;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    height: auto;
    border: 0;
    border-radius: 0;
    background: none;
}

.btn-link:hover {
    color: gray;
    background: none;
}

.reg-label {
    font-size: 14px;
}

.reg-input {
    width: 420px;
    height: 44px;
    font-size: 14px;
}

.btn-primary {
    width: 275px;
    height: 55px;
    background: #00754a;
    font-size: 20px;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #005939;
}

.reg-group, .reg-title {
    margin-bottom: 18px;
    margin-top: 0;
}

.exp-analysis .container h1 {
    margin-top: 80px;
}

.analysis-wrap {
    display: flex;
    align-items: center;
    gap: 32px;
    margin: 60px auto;
    width: fit-content;
    background: #2A2A2A;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 26px 32px;
    transition: all 400ms ease;
}


.analysis-wrap:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
}

.diagram-wrap {
    display: flex;
    justify-content: center;
    width: 500px;
}

.details ul, .inc-details ul, .tot-details ul {
    list-style: none;
    padding: 0;
}

.details ul li, .inc-details ul li, .tot-details ul li {
    font-weight: 600;
    font-size: 18px;
    margin: 18px 0;
    text-transform: uppercase;
}

.details .value, .inc-details .value, .tot-details .value {
    font-weight: 800;
    color: #e63946;
}

.swiper-wrapper {
    height: auto !important;
}

.swiper-button-prev {
    left: 11% !important;
    top: 58% !important;
    color: white !important;
}

.swiper-button-next {
    right: 11% !important;
    top: 58% !important;
    color: white !important;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #2A2A2A;
    height: 80px;
}

.copyright {
    font-weight: 500;
}

