{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="body-wrapper">
        <header class="header">
            <div class="container">
                <nav class="navigation">
                    <a href="{% url 'index' %}" class="logo"><img class="logo" src="{% static 'img/logo.png' %}" alt="logo"></a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="logout"><img class="logout" src="{% static 'img/logoutIcon.png' %}" alt="logout"></a>
                    {% else %}
                    <a href="{% url 'login' %}" class="logout"><img class="logout" src="{% static 'img/logoutIcon.png' %}" alt="logout"></a>
                    {% endif %}
                </nav>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>